.slider {
  position: relative;
  overflow-x: hidden;
  width: auto;
}
.slider__cards {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 12px;
}

.slider__card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
  width: 132px;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  margin-block: 0.5rem;
  -webkit-transition: all 0.1s ease-in-out;
}
.slider__card:hover {
  box-shadow: var(--shadow-hover);
  transform: scale(1.03);
  transition: all 0.1s ease-in-out;
}
.slider__card:active {
  transform: scale(0.98);
  transition: all 0.1s ease-in-out;
}

/* CARD */
.card__img {
  width: 100%;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card__content {
  padding: 0.5rem;
}
.card__text {
  color: var(--black);
  font-size: 0.875rem;
  font-weight: bold;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.card__price {
  color: var(--orange);
  font-weight: bold;
  font-size: 1rem;
}
.card__tag {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.card__disc {
  color: var(--black);
  opacity: 0.6;
  font-size: 0.75rem;
  text-decoration: line-through;
}
.card__chip {
  background-color: var(--chip);
  color: var(--chiptext);
  font-size: 0.75rem;
  font-weight: 700;
  padding-inline: 0.25rem;
  width: fit-content;
  text-align: center;
  border-radius: 999px;
}
.card__button {
  width: 100%;
  font-size: 0.875rem;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  padding-block: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}
.card__button:hover {
  background-color: var(--blue-hover);
  transition: all 0.1s ease-in-out;
}
/* CARD */

.slider__next,
.slider__prev {
  position: absolute;
  z-index: 1;
  padding: 0.5rem;
  border-radius: 999px;
  box-shadow: var(--shadow);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next__button,
.prev__button {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.slider__next:hover,
.slider__prev:hover {
  box-shadow: var(--shadow-hover);
  transition: all 0.1s ease-in-out;
}

.slider__next {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.slider__prev {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

@media screen and (min-width: 1280px) {
  .slider__card {
    width: 11.375rem;
  }
}
