.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-block: 1rem;
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23.4rem;
  font-size: 8rem;
  font-weight: bold;
}

.box4 {
  background-color: var(--peach);
  flex: 1 1 100%;
}
.box3 {
  background-color: var(--violet);
  flex: 1 1 100%;
}
.carousel {
  /* flex: 0 1 100%; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 1;
  width: 100%;
}
.box1 {
  background-color: var(--green);
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(50% - 0.5rem);
}
.box2 {
  background-color: var(--cyan);
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(50% - 0.5rem);
}

.footer {
  flex: 1 1 100%;
  background-color: yellow;
}

/* -----------------------MEDIA MEDIA MEDIA ----------------------- */
@media screen and (min-width: 1280px) {
  .container {
    gap: 1.75rem;
    margin-block: 1.75rem;
  }
  .box1 {
    order: 1;
    flex-basis: calc(50% - 0.875rem);
  }
  .box2 {
    order: 2;
    flex-basis: calc(50% - 0.875rem);
  }
  .box3 {
    order: 3;
  }
  .box4 {
    order: 4;
  }
  .carousel {
    order: 5;
  }
  .footer {
    order: 6;
  }
}
